* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-vertikal {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px; 
    background-color: #275a45;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    overflow-y: auto;
    height: 100vh;
}

.menu-vertikal li {
    border-bottom: #333;
}

.menu-vertikal li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
  text-transform: uppercase;
  background-color: #275a45;
}

.menu-vertikal ul {
    list-style: none;
}

.menu-vertikal li a:hover {
    background-color: slategray;
}

.konten {
    margin-left: 200px;
    padding: 20px;
    background-color: azure;
}
