*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    background: #EDDD53;
    background: linear-gradient(90deg, rgba(237, 221, 83, 1) 37%, rgba(114, 183, 204, 1) 54%, rgba(114, 134, 207, 1) 69%);
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.logo img{
    height: 40px;
    width: 40px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.search{
    display: flex;
    align-items: center;
    gap: 5pcx;

}


.search input[type="text"]{
    border-radius: 5px;
    padding: 5px;
    width: 150px;
}

.search button{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    color: #4caf50;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.login button {
    width: 100px;
    margin: 0 20px;
    display: block;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #4caf50;
    border: 1px  solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
